/* To define new fonts which is not available in IDE */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400&display=swap');

/* STYLE OF THE WHOLE PAGE */
body {
    font-size: 20px;
    margin: 0;
    padding: 0;
    word-wrap: break-word !important;
    font-family: 'Nunito', sans-serif;
}
html {
    scroll-behavior: smooth;
}

/* STYLE OF MAIN SECTION */
main {
    margin: 30px 50px;
}
/* Filter select area */
.select {
    line-height: 30px;
    margin: 15px 0;
    text-align: right;
}
.select select {
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
    margin: 3px;
    border: none;
    border-bottom: 1px solid;
}

.select #category {
    width: 200px;
}
.select #letter-start {
    width: 100px;
}

/* Make the page responsive */
@media screen and (max-width: 1100px) {
    .label {
        display: block;
        text-align: center;
    }
}
@media screen and (max-width: 800px) {
    .select {
        text-align: center;
    }
}