/* To define new fonts which is not available in IDE */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400&display=swap');

/* STYLE OF THE WHOLE PAGE */
body {
    font-size: 20px;
    margin: 0;
    padding: 0;
    word-wrap: break-word !important;
    font-family: 'Nunito', sans-serif;
}
html {
    scroll-behavior: smooth;
}

/* STYLE OF MAIN SECTION */
main {
    margin: 30px 50px;
}
/* Filter select area */
.select {
    line-height: 30px;
    margin: 15px 0;
    text-align: right;
}
.select select {
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
    margin: 3px;
}
.select select {
    width: 150px;
    border: none;
    border-bottom: 1px solid;
}

/* List of stores */
.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px 30px;
}
.item {
    box-sizing: border-box;
    margin: 5px auto;
    text-align: center;
    width: 100%;
    float: left;
}
.item a {
    color: #000;
    text-decoration: none;
}
.item h3 {
    font-size: 25px;
    height: 60px;
}
.item .price, .item .des {
    font-size: 20px;
    height: 50px;
    color: #f93;
}
.rank {
    color: #fc0;
}
.item img {
    width: 70%;
    margin: 10px 10px 0 10px;
}
.item image:after {
    clear: both;
}
.item:hover {
    background-color: #eee;
    transition: 0.5s;
}

/* Make the page responsive */
@media screen and (max-width: 470px) {
    .item {
        width: 100%;
    }
    .item img {
        margin: 20px 0;
    }
}
@media screen and (min-width: 470px) and (max-width: 690px) {
    .item {
      width: 50%;
    }
}
@media screen and (min-width: 690px) and (max-width: 860px) {
    .item {
      width: calc(100% / 3);
    }
}
@media screen and (min-width: 860px) {
    .item {
      width: 25%;
    }
}
@media screen and (max-width: 1100px) {
    .label {
        display: block;
        text-align: center;
    }
}
@media screen and (max-width: 800px) {
    .select {
        text-align: center;
    }
}