/* To define new fonts which is not available in IDE */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400&display=swap');

/* STYLE OF THE WHOLE PAGE */
body {
    font-size: 20px;
    margin: 0;
    padding: 0;
    word-wrap: break-word !important;
    font-family: 'Nunito', sans-serif;
}
html {
    scroll-behavior: smooth;
}

/* STYLE OF MAIN SECTION IN HOME PAGE */
main {
    margin: 0 50px;
}
/* Banner area */
.banner {
    margin: 0 -50px;
    position: relative;
    height: 690px;
    background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.75)), url(../images/banner.jpg) no-repeat fixed;
    background-position: 50%;
    background-size: cover;
}
.banner .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: white;
}
.banner .container h1 {
    font-size: 100px;
    margin: -20px;
}
.banner .container p {
    font-size: 36px;
    display: block;
    margin: 20px;
}
.btn {
    padding: 8px 24px;
    font-size: 40px;
    text-decoration: none;
    font-weight: bold;
    background-color: #f93;
    color: #000;
    border-radius: 10px;
    transition: 0.3s all;
    margin-top: 10px;
}
.btn:hover {
    background-color: #c60;
    color: #fff;
    font-weight: bold;
    transition: 0.5s;
}

/* Sub sections area */
#sub-sect-1 {
    padding: 60px 0 0 0;
}
.label {
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}

/* Make the page responsive */
@media screen and (max-width: 700px) {
    .banner .container h1 {
        font-size: 60px;
    }
    .banner .container p {
        font-size: 25px;
    }
    .btn {
        font-size: 35px;
    }
}
@media screen and (max-width: 500px) {
    .banner .container h1 {
        font-size: 48px;
    }
    .banner .container p {
        font-size: 21px;
    }
    .btn {
        font-size: 30px;
    }
}
@media screen and (max-width: 350px) {
    .banner .container h1 {
        font-size: 40px;
    }
    .banner .container p {
        font-size: 20px;
    }
    .btn {
        font-size: 25px;
    }
}