/* To define new fonts which is not available in IDE */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400&display=swap');

/* STYLE OF THE WHOLE PAGE */
body {
    font-size: 20px;
    margin: 0;
    padding: 0;
    word-wrap: break-word !important;
    font-family: 'Nunito', sans-serif;
}
html {
    scroll-behavior: smooth;
}

/* STYLE OF MAIN SECTION */
/* Original CSS code sourced and adapted for educational purposes:
https://www.w3schools.com/howto/howto_css_cards.asp*/

#title, .text {
  text-align: center;
  margin: 20px 50px;
}
#title h1 {
  font-size: 36px;
}
.text h1 {
  font-size: 60px;
}
hr {
  margin: 0 50px;
}
.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px 25px;
}
.flex {
  box-sizing: border-box;
  margin: 5px 25px;
  padding: 5px;
  text-align: center;
  float: left;
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.flex .mem-id {
  margin-top: 5px;
  font-size: 22px;
  font-weight: bold;
  color: orange;
}
.flex .mem-name {
  font-size: 30px;
  height: 60px;
  padding: 10px;
}
.flex .mem-name:after{
  clear: both;
}
.flex .mem-des {
  font-size: 20px;
  padding: 10px;
  height: 90px;
}
.flex img {
  width: 90%;
  margin: 10px;
  border-radius: 25%;
  box-shadow: 0px 10px 5px rgba(0,0,0,0.2);
}
.flex image:after {
  clear: both;
}

/* Make the page responsive */
@media screen and (min-width: 300px) and (max-width: 489px) {
  .flex {
      width: 80%;
  }
}
@media screen and (min-width: 489px) and (max-width: 593px) {
  .flex {
      width: 45%;
      margin: 20px auto;
  }
}
@media screen and (min-width: 593px) and (max-width: 1103px) {
  .flex {
      width: 35%;
  }
}
@media screen and (min-width: 1103px) {
  .flex {
      width: 20%;
  }
}

