/* To define new fonts which is not available in IDE */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400&display=swap');

/* STYLE OF THE WHOLE PAGE */
body {
    font-size: 20px;
    margin: 0;
    padding: 0;
    word-wrap: break-word !important;
    font-family: 'Nunito', sans-serif;
}
html {
    scroll-behavior: smooth;
}

/* STYLE OF MAIN SECTION IN HOME PAGE */
/* Label and filter select area */
.label {
    line-height: 35px;
    font-weight: bold;
    padding: 0 30px;
    background-color: #9c9;
    border-bottom: 5px solid #690;
    border-top: 5px solid #690;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.label h2 {
    font-size: 30px;
}
.label .select{
    margin: 24px 0;
}
.label select, .label label {
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
    margin: 3px;
}
.label select {
    width: 200px;
    border-radius: 15px;
    border: 3px solid #690;
}

/* Stores list */
.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px 30px;
}
.item {
    box-sizing: border-box;
    margin: 5px auto;
    text-align: center;
    width: 100%;
    float: left;
}
.item a {
    color: #000;
    text-decoration: none;
}
.item h3 {
    font-size: 25px;
}
.item h3, .item h3 {
    height: 25px;
}
.item .price, .item .des {
    font-size: 20px;
    color: #f93;
}
.rank {
    color: #fc0;
}
.item img {
    width: 70%;
    margin: 10px 10px 0 10px;
}
.item image:after {
    clear: both;
}
.item:hover {
    background-color: #eee;
    transition: 0.5s;
}

/* Make the page responsive */
@media screen and (max-width: 470px) {
    .item {
        width: 100%;
    }
    .item img {
        margin: 20px 0;
    }
}
@media screen and (min-width: 470px) and (max-width: 690px) {
    .item {
      width: 50%;
    }
}
@media screen and (min-width: 690px) and (max-width: 860px) {
    .item {
      width: calc(100% / 3);
    }
    .banner {
        height: 550px;
    }
}
@media screen and (min-width: 860px) {
    .item {
      width: 25%;
    }
}
@media screen and (max-width: 1100px) {
    .label {
        display: block;
        text-align: center;
    }
    .label .select {
        margin: 0;
    }
}