.slider {
    height: fit-content;
    margin: auto;
    position: relative;
    width: 100%;
    display: grid;
    place-items: center;
    overflow: hidden;
}

.slide-track {
    display: flex;
    width: calc(250px * 8);
    -webkit-animation: scroll 30s linear infinite;
            animation: scroll 30s linear infinite;
}
.slide-track:hover {
    animation-play-state: paused;
}

.slide {
    height: fit-content;
    width: 250px;
    display: flex;
}

/* item container */
.slide {
    box-sizing: border-box;
    margin: 5px auto;
    text-align: center;
    width: 100%;
    float: left;
}
.slide a {
    text-decoration: none;
    color: #000;
}
.slide h3 {
    font-size: 25px;
    padding: 10px;
}
.slide .des {
    font-size: 20px;
    color: #f93;
}
.rank {
    color: #fc0;
}
.slide img {
    width: 70%;
    margin: 10px 10px 0 10px;
    transition: transform 1s;
}
.slide:hover {
    background-color: #eee;
    transition: 0.5s;
}

.slider::before {
    left: 0;
    top: 0;
}

.slider::after {
    right: 0;
    top: 0;
    -webkit-transform: rotateZ(180deg);
            transform: rotateZ(180deg);
}

@keyframes scroll {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(calc(-250px * 8));
              transform: translateX(calc(-250px * 8));
    }
  }