nav {
    position: fixed;
    top: 0%;
    z-index: 1;
}

.nav-links {
    position: absolute;
    right: 10%;
}

#logo {
    padding-left: 3%;
}

#logo img {
    width: 100px;
    height: 50px;
    object-fit: cover;
}

.link li, .dropdown {
    color: white;
    padding: 17px 25px 17px 25px;
}

.dropdown a {
    color: white;
}

.link:hover, .dropdown a:hover {
    background-color: grey;
}

.link:hover li {
    color: black;
}

.nav-bg {
    background-color: black;
}

#dropdown-text a {
    color: black;
}

li a:hover {
    color: black;
}

h2 {
    text-align: center;
    padding-top: 30px;
}

.new-product-image {
    height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center;
}

table {
    width: 100%;
}

table td {
    width: 33%;
}

footer {
    background-color: black;
    text-align: right;
    padding: 15px 0px 15px 0px;
}

footer span {
    padding: 20px 20px 0px 0px;
}

footer a {
    color: white;
}

