/* STYLE OF THE WHOLE PAGE */
body {
    font-size: 20px;
    margin: 0;
    padding: 0;
    word-wrap: break-word !important;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
html {
    scroll-behavior: smooth;
}

/* STYLE OF MAIN SECTION IN HOME PAGE */
main {
    height: 900px;
}