/* To define new fonts which is not available in IDE */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400&display=swap');

/* STYLE OF THE WHOLE PAGE */
body {
    font-size: 20px;
    margin: 0;
    padding: 0;
    word-wrap: break-word !important;
    font-family: 'Nunito', sans-serif;
}
html {
    scroll-behavior: smooth;
}

/* STYLE OF MAIN SECTION IN HOME PAGE */
main {
    height: 700px;
}

h2 {
    text-align: center;
    padding-top: 25px;
}

h3 {
    font-size: 28px;
}

.fee-table {
    margin: 20px auto;
    padding: 10px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    word-wrap: break-word;
    width: 50%;
}

th {
    background-color: #dddddd;
}

/* MAKE THE PAGE RESPONSIVE */
@media screen and (max-width: 950px) {
    main {
        margin: 25px 50px;
    }
}
