/* To define new fonts which is not available in IDE */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400&display=swap');

/* STYLE OF THE WHOLE PAGE */
body {
    font-size: 20px;
    margin: 0;
    padding: 0;
    word-wrap: break-word !important;
    font-family: 'Nunito', sans-serif;
}
html {
    scroll-behavior: smooth;
}

/* STYLE OF MAIN SECTION IN HOME PAGE */
/* Banner area */
.banner {
    position: relative;
    height: 690px;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(shoppiverse-banner.jpg) no-repeat fixed;
    background-position: 50%;
    background-size: cover;
}
.banner .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: white;
}
.banner .container h1 {
    font-size: 100px;
    margin: -20px;
}
.banner .container p {
    font-size: 36px;
    display: block;
    margin: 20px;
}
.btn {
    padding: 8px 24px;
    font-size: 40px;
    text-decoration: none;
    background-color: #f93;
    color: #000;
    border-radius: 10px;
    transition: 0.3s all;
    margin-top: 10px;
}
.btn:hover {
    background-color: #c60;
    color: #fff;
}

/* Sub sections area */
[id^=sub-sect] {
    padding: 60px 0 0 0;
}
.items-container {
    display: flex;
    margin: 0 40px;
}
.label {
    text-transform: uppercase;
    text-align: center;
    border-left: 10px solid #690;
    border-right: 10px solid #690;
    background-color: #9c9;
    padding-left: 30px;
    font-weight: bold;
    font-size: 30px;
    margin: 20px 40px;
    line-height: 60px;
}
.item {
    position: relative;
    display: inline-block;
    padding: 10px;
    width: 25%;
}
.item a {
    text-decoration: none;
}
.item a h3, .item a p {
    color: black;
    text-align: center;
}
.item img {
    height: 250px;
    width: 250px;
    padding: 30px;
}
.item:hover {
    background-color: #ddd;
}