/* To define new fonts which is not available in IDE */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400&display=swap');

/* STYLE OF THE WHOLE PAGE */
body {
    font-size: 20px;
    margin: 0;
    padding: 0;
    word-wrap: break-word !important;
    font-family: 'Nunito', sans-serif;
}
html {
    scroll-behavior: smooth;
}

/* STYLE OF MAIN SECTION IN HOME PAGE */
main {
    height: 900px;
}
.not-yet {
    border: solid;
    width:200px;
    margin-left: 430px;
    padding: 20px 80px 20px 100px;
}
  
input {
    display: block;
}
  
h1 {
    text-align: center;
    font-size: 50px;
}