html {
    background-color: #E3E2DF;
}
.topnav {
    background-color: #5D001E;
}
.topnav a.active {
  color: white;
  font-size: 50px;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: bold;
  padding-left: 10px;
  padding-right: 15px;
  text-decoration: none;
}
  
.topnav a {
  color: white;
  font-size: 15px;
  text-decoration: none;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  padding-left: 140px;
  padding-right: 20px;
}

.topnav:hover a:hover {
  color: #E3AFBC;
}

.topnav:hover a:hover.active {
  color: white;
}

.dropdown {
  float: right;
  position: relative;
  right: 12%;
  position: absolute;
  top: 5%;
}


.dropdown .dropbutton {
  font-size: 15px;
  border: none;
  color: white;
  background-color: inherit;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  padding-top: 15px;
  padding-bottom: 8px;
}

.navbar a:hover, .dropdown:hover .dropbutton:hover {
  color: #E3AFBC;
}
  
  
.dropdown-content {
  display: none;
  position: absolute;
  background-color: inherit;
}

 
.dropdown-content a {
  background-color: #5D001E;
  color: white;
  padding: 17px;
  text-decoration: none;
  font-size: 15px;
  display: block;
}
  
  
.dropdown-content a:hover {
  background-color: #5D001E;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.topnav img {
  position: absolute;
  right: 4%;
  top: 5%;
}

@media screen and (max-width: 800px) {
  .topnav a {
    width: fit-content;
  }
}

.botnav {
  background-color: #5D001E;
  bottom: 0;
  position: fixed;
  width: 100%;
} 
.botnav a {
  text-align: center;
  text-decoration: none;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 15px 135px;
}

.botnav:hover a:hover {
  color: #E3AFBC;
}

.home {
  display: table;
}
.home .book {
  float: left;
  padding: 10px 95px;
}

.home a {
  text-decoration: none;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  color: #9A1750
}

.home h2{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #9A1750;
  text-decoration: underline;
  text-align: center;
}

.home:hover .book:hover {
  background-color: #E3AFBC;
}

.home1 .book1 {
  float: left;
  padding: 10px 95px;
}

.home1 {
  display: table;
}

.book1 a {
  text-decoration: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  color: #9A1750;
}

.home1 h2 {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #9A1750;
  text-decoration: underline;
  text-align: center;
}

.home1:hover .book1:hover {
  background-color: #E3AFBC;
}

.about-us h3 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.about-us table {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 20px;
  font-size: 15px;
  width: 85%;
  font-weight: bold;
}

.about-us td {
  text-align: left;
  padding-top: 15px;
  padding-left: 70px;
}

.form h4 {
  text-align: center;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 30px;
}

.form {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  font-size: 15px;
  text-align: center;
}

.form .reset {
  background-color: #5D001E;
  color: white;
  padding: 6px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.form .submit {
  background-color: #5D001E;
  color: white;
  padding: 6px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.copyright {
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
}

.tos {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.tos h2 {
  text-align: center;
}

.tos a {
color:#5D001E;
}

.pripo {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.pripo h2 {
  text-align: center;
}

.pripo a {
color: #5D001E;
}

.jdsalinger img {
float: left;
padding-left: 80px;
padding-top: 30px;
padding-bottom: 55px;
}

.jdsalinger .right-hand-info .info-top {
float: right;
padding-right: 470px;
padding-top: 120px;
font-family: Georgia, 'Times New Roman', Times, serif;
}

.jdsalinger .right-hand-info .info-bottom {
vertical-align: baseline;
padding-left: 500px;
position: sticky;
font-family: Georgia, 'Times New Roman', Times, serif;
padding-top: 215px;
}

.jdsalinger button {
background-color: #5D001E;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color: white;
padding: 15px;
}

.jdsalinger button a {
text-decoration: none;
color: white;
}

.jdsalinger h4 {
clear: both;
padding-left: 80px;
font-family:Georgia, 'Times New Roman', Times, serif;
}

.jdsalinger table {
clear: both;
padding-left: 80px;
font-family:'Courier New', Courier, monospace;
font-weight:unset;
width: 50%;
height: 170px;
font-size: 14px;
border-spacing: 0px;
}

.jdsalinger .left-data {
padding-right: 5px;
outline-width: thick;
background-color: #E3AFBC;
border: 1px solid #ddd;
}

.jdsalinger .product-description p {
font-family: 'Courier New', Courier, monospace;
font-size: 15px;
padding-left: 80px;
}

.jdsalinger .rec-pro {
float: left;
margin-bottom: 50px;
}
.jdsalinger .rec-pro a {
text-decoration: none;
font-family:Georgia, 'Times New Roman', Times, serif;
color: black;
text-align: center;
font-weight: bolder;
font-size: 14px;
}

.rec-pro img {
padding: 30px 60px 10px 65px;
}

.rec-pro p {
padding-bottom: 0px;

}

.jdsalinger:hover .rec-pro:hover {
background-color: #E3AFBC;
}

.jdsalinger:hover button:hover a:hover {
  color: #E3AFBC;
}

/* we were liars */

.elockhard img {
float: left;
padding-left: 80px;
padding-top: 30px;
padding-bottom: 55px;
}

.elockhard .right-hand-info .info-top {
float: right;
padding-right: 570px;
padding-top: 120px;
font-family: Georgia, 'Times New Roman', Times, serif;
}

.elockhard .right-hand-info .info-bottom {
vertical-align: baseline;
padding-left: 500px;
position: sticky;
font-family: Georgia, 'Times New Roman', Times, serif;
padding-top: 215px;
}

.elockhard button {
background-color: #5D001E;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color: white;
padding: 15px;
}

.elockhard button a {
text-decoration: none;
color: white;
}

.elockhard h4 {
clear: both;
padding-left: 80px;
font-family:Georgia, 'Times New Roman', Times, serif;
}

.elockhard table {
clear: both;
padding-left: 80px;
font-family:'Courier New', Courier, monospace;
font-weight:unset;
width: 50%;
height: 170px;
font-size: 14px;
border-spacing: 0px;
}

.elockhard .left-data {
padding-right: 5px;
outline-width: thick;
background-color: #E3AFBC;
border: 1px solid #ddd;
}

.elockhard .product-description p {
font-family: 'Courier New', Courier, monospace;
font-size: 15px;
padding-left: 80px;
}

.elockhard .rec-pro {
float: left;
margin-bottom: 50px;
}
.elockhard .rec-pro a {
text-decoration: none;
font-family:Georgia, 'Times New Roman', Times, serif;
color: black;
text-align: center;
font-weight: bolder;
font-size: 14px;
}


.elockhard:hover .rec-pro:hover {
background-color: #E3AFBC;
}

.elockhard .rec-pro img {
padding: 30px 60px 10px 65px;
}

.elockhard:hover button:hover a:hover {
  color: #E3AFBC;
}

.browse-button {
position: relative;
width: fit-content;
}

.product-button {
border: 1px solid;
font-family: Georgia, 'Times New Roman', Times, serif;
color:#5D001E;
text-align: left;
padding: 10px 23px 10px 13px;
font-size: 15px;
background-color: aliceblue;
}


.product-button-content {
display: none;
position:absolute;

}

.product-button-content a {
text-decoration: none;
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 15px;
color: #5D001E;
display: block;
padding: 20px;
border: 1px solid;
background-color: aliceblue;
text-align: left;
}

.product-button-content a:hover {
background-color: #E3AFBC;
}

.product-button:hover {
background-color: #E3AFBC;
}

.browse-button:hover .product-button-content {
display: block;
}

.display {
float: left;
padding: 50px 45px;
}

.display a {
font-family: 'Courier New', Courier, monospace; 
text-decoration: none;
color: black;
}

.display:hover {
background-color: #E3AFBC;
}

.my-order h4 {
  margin-left: 100px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.my-order .card img {
  float: left;
  margin-left: 100px;
  padding-bottom: 25px;
}

.my-order .card p {
  float: right;
  display:inline-table;
  margin-right: 810px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 15px;
  color: black;
  font-weight: bold;
  border-spacing: 0px;
}

.my-order .card {
  float: left;
}

.my-order #myNumber1 {
  position: absolute;
  left: 25%;
  top: 36%;
  text-align: center;
}

.my-order #myNumber {
  position: absolute;
  left: 25%;
  top: 71%;
  text-align: center;
}

.my-order table {
  position: absolute;
  top: 65%;
  right: 8%;
  border-collapse: separate;
  border-spacing: 35px 10px;
  border: 1px solid;
  background-color: aliceblue;
  font-family: 'Courier New', Courier, monospace;
}

.my-order table td {
  width: 100px;
}

.my-order .order h4 {
  position: absolute;
  top: 57%;
  right: 22%;
  font-family: 'Courier New', Courier, monospace;
}

.my-order button {
  display: inline-table;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: #5D001E;
  padding: 15px 32px;
  position: relative;
  left: 68%;
}

.my-order button a {
  text-decoration: none;
  color: white;
}

.my-order:hover .button:hover a:hover {
  color: #E3AFBC;
}

.thank-you {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 17px;
  text-align: center;
}