/* To define new fonts which is not available in IDE */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* STYLE OF THE WHOLE PAGE */
body {
    font-size: 20px;
    margin: 0;
    padding: 0;
    word-wrap: break-word !important;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;     /* When this font is already defined, it is able to be use to trigger the style of any selectors */
}
html {
    scroll-behavior: smooth;
}

/* STYLE OF MAIN CONTENT */
main {
    margin: 0 50px;
}
h1 {
    margin: 20px 0 25px 0;
}
h2 {
    font-size: 36px;
    border-bottom: 5px solid #f00;
    text-align: center;
}

#description h3 {
    font-style: italic;
}

/* Customers' choice area */
.flex-container-1 {
    display: flex;
    margin: 40px 0 20px;
}

.image {
    text-align: center;
}
.image img {
    margin: 0 auto;
    width: 100%;
}
.button-container {
    display: flex;
    justify-content: center;
}
.button-container .buttons {
    text-align: center;
    margin: auto;
    width: 50%;
}
.price {
    color: #f00;
    font-size: 25px;
}
/* Button Area */
.button-container button {
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    margin: 10px;
    padding: 10px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}
.button-container #buy-now {
    background-color: #f00;
    font-weight: bold;
    color: #fff;
}
.button-container #buy-now:hover {
    background-color: #600;
    transition: 0.5s;
}
.button-container #add-to-cart {
    background-color: #ddd;
    color: #000;
    text-decoration: none;
}
.button-container #add-to-cart:hover {
    background-color: #eee;
    transition: 0.5s;
}

.options-1, .options-2 {
    width: 50%;
}


/* Description */
#description p {
    text-align: justify;
}

/* MAKE THE WHOLE PAGE RESPONSIVE */
@media screen and (max-width: 540px) {
    h1 {
        font-size: 28px;
        text-align: center;
    }
}
/* Customers' choice area */
@media screen and (max-width: 350px) {
    .options-1 {
        width: 100%;
    }
}
@media screen and (max-width: 460px) {
    h3 {
        text-align: center;
    }
    .options-1, .options-2 {
        margin: 5px 0;
    }
    .options-2 {
        width: 100%;
    }
    .choice-2 {
        display: block;
    }
}
@media screen and (max-width: 600px) {
    .flex-container-1 {
        display: block;
    }
    .avatar {
        text-align: center;
    }
    .avatar img {
        width: 100%;
        height: 100%;
    }
    .button-container {
        display: block;
        margin-bottom: 30px;
    }
    .button-container button {
        width: 100%;
        margin: 10px 0;
    }
}
@media screen and (min-width: 600px) and (max-width: 1260px) {
    .flex-container-1 {
        display: block;
    }
    .avatar {
        text-align: center;
    }
    .avatar img {
        width: 500px;
        height: 500px
    }
    .options-1 {
        width: calc(100% / 3);
    }
}
/* Description Area */
/* Text */
@media screen and (max-width: 1154px) {
    main {
        margin: 0 30px;
    }
    p {
        font-size: 15px;
    }
}

/* Recommended products area */
@media screen and (max-width: 370px) {
    .label-2 {
        font-size: 25px;
    }
}
@media screen and (max-width: 470px) {
    .item {
        width: 100%;
    }
    .item img {
        margin: 20px 0;
    }
}
@media screen and (min-width: 470px) and (max-width: 600px) {
    .item {
        width: 50%;
    }
}
@media screen and (min-width: 600px) and (max-width: 860px) {
    .item {
        width: calc(100% / 3);
    }
}
@media screen and (min-width: 860px) and (max-width: 1100px) {
    .item {
        width: 25%;
    }
}
@media screen and (min-width: 1100px) {
    .item {
        width: 20%;
    }
}
