/* To define new fonts which is not available in IDE */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* STYLE OF THE WHOLE PAGE */
body {
    font-size: 20px;
    margin: 0;
    padding: 0;
    word-wrap: break-word !important;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;     /* When this font is already defined, it is able to be use to trigger the style of any selectors */
}
html {
    scroll-behavior: smooth;
}

/* STYLE OF MAIN SECTION */
main {
    background-color: #ddd;
}
/* Text section */
.text {
    margin: 10px 100px 0 100px;
    padding-bottom: 40px;
}
.text h1 {
    text-align: center;
}
.text h2 {
    color: #000;
    border-bottom: 5px solid #f00;
}
.text h2:nth-child(6), .text h2:nth-child(9) {
    padding-top: 30px;
}
.text p, .text li {
    text-align: justify;
}
.text li {
    list-style: none;
    padding-bottom: 15px;
    margin-left: -40px;
}
.image img {
    width: 100%;
}

/* STYLE OF FOOTER SECTION */
footer {
    margin: 0;
}

/* Make the page responsive */
@media screen and (max-width: 900px) {
    .text {
        margin: 0 50px;
        font-size: 15px;
    }
}
