/* To define new fonts which is not available in IDE */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* STYLE OF THE WHOLE PAGE */
body {
    font-size: 20px;
    margin: 0;
    padding: 0;
    word-wrap: break-word !important;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;     /* When this font is already defined, it is able to be use to trigger the style of any selectors */
}
html {
    scroll-behavior: smooth;
}

/* STYLE OF MAIN SECTION */
/* Label and filter select area */
.select {                                   
    margin: 10px 30px;
    border-bottom: 5px solid #f00;
    text-align: center;
}
.select-container {                         /* Create a container div inside a section div in order to align that container div center */
    font-size: 22.5px;
    font-weight: bold;
    margin: 15px 0;
}
.select-container select {
    font-family: 'Poppins', sans-serif;
    width: 175px;
    font-size: 22.5px;
    border: none;
    border-bottom: 2.5px solid #000;
}

/* List of products */
.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px 30px;
}
.item {
    box-sizing: border-box;
    margin: 5px auto;
    text-align: center;
    width: 100%;
    float: left;
}
.item a {
    color: #000;
    text-decoration: none;
}
.item h3 {
    height: 75px;
    font-size: 25px;
    padding: 5px 10px;
}
.item .price {
    font-size: 20px;
    color: #f00;
}
.rank {
    color: #fc0;
}
.created-date {
    font-size: 13px;
}
.item img {
    width: 60%;
    margin: 10px 10px 0 10px;
}
.item image:after {
    clear: both;
}
.item:hover {
    background-color: #eee;
    font-weight: bold;
    transition: 0.5s;
}

/* Make the page responsive */
@media screen and (max-width: 470px) {
    .item {
      width: 100%;
    }
    .item img {
        margin: 20px 0;
    }
}
@media screen and (min-width: 470px) and (max-width: 690px) {
    .item {
        width: 50%;
    }
}
@media screen and (min-width: 690px) and (max-width: 860px) {
    .item {
        width: calc(100% / 3);
    }
}
@media screen and (min-width: 860px) and (max-width: 1100px) {
    .item {
        width: 25%;
    }
}
@media screen and (min-width: 1100px) {
    .item {
        width: 20%;
    }
}