/* To define new fonts which is not available in IDE */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* STYLE OF THE WHOLE PAGE */
body {
    font-size: 20px;
    margin: 0;
    padding: 0;
    word-wrap: break-word !important;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;     /* When this font is already defined, it is able to be use to trigger the style of any selectors */
}
html {
    scroll-behavior: smooth;
}

/* STYLE OF MAIN SECTION IN HOME PAGE */
/* Banner area */
.banner {
    position: relative;
    height: 700px;
    background: url(eworld-banner.jpg) no-repeat fixed;
    background-position: 50% 90%;
    background-size: cover;
}
.banner .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: white;
}
.banner .container img {
    width: 250px;
    height: 250px;
    margin: 10px;
}
.banner .container h1 {
    font-size: 70px;
    margin: -20px;
}
.banner .container p {
    font-size: 25px;
    display: block;
    margin: 20px;
}
.btn {
    padding: 8px 24px;
    font-size: 30px;
    text-decoration: none;
    background-color: #f00;
    color: white;
    border-radius: 10px;
    transition: 0.3s all;
    margin-top: 10px;
}
.btn:hover {
    background-color: #600;
}

/* Sub sections area */
[id^=sub-sect] {
    padding: 40px 0 0 0;
    margin: 0 40px;
}
.items-container {
    display: flex;
}
.label {
    text-align: center;
    text-transform: uppercase;
    border-bottom: 5px solid #000;
    font-weight: bold;
    font-size: 35px;
}
.item {
    position: relative;
    display: inline-block;
    padding: 10px;
    width: 20%;
}
.item a {
    text-decoration: none;
}
.item a h3, .item a p {
    color: black;
    text-align: center;
}
.item img {
    height: 240px;
    width: 240px;
    padding: 15px;
}
.item:hover {
    background-color: #ddd;
}