/* To define new fonts which is not available in IDE */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* STYLE OF THE WHOLE PAGE */
body {
    font-size: 20px;
    margin: 0;
    padding: 0;
    word-wrap: break-word !important;
    font-family: "Poppins", sans-serif;     /* When this font is already defined, it is able to be use to trigger the style of any selectors */
}
html {
    scroll-behavior: smooth;
}

/* STYLE OF MAIN SECTION IN HOME PAGE */
main {
    margin: 20px;
}
[id^=sub-sect] {
    padding: 40px 0 0 0;
}
.items-container {
    display: flex;
}
.label {
    text-align: center;
    text-transform: uppercase;
    border-bottom: 5px solid #000;
    font-weight: bold;
    font-size: 35px;
}
.item {
    position: relative;
    display: inline-block;
    padding: 10px;
    width: 20%;
}
.item a {
    text-decoration: none;
}
.item a h3, .item a p {
    color: black;
    text-align: center;
}
.item img {
    height: 240px;
    width: 240px;
    padding: 15px;
}
.item:hover {
    background-color: #ddd;
}