/* To define new fonts which is not available in IDE */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* STYLE OF THE WHOLE PAGE */
body {
    font-size: 20px;
    margin: 0;
    padding: 0;
    word-wrap: break-word !important;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;     /* When this font is already defined, it is able to be use to trigger the style of any selectors */
}
html {
    scroll-behavior: smooth;
}

/* STYLE OF MAIN SECTION IN HOME PAGE */
/* Banner area */
.banner {
    position: relative;
    height: 700px;
    background: url(eworld-banner.jpg) no-repeat fixed;
    background-position: 50% 90%;
    background-size: cover;
}
.banner .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: white;
}
.banner .container img {
    width: 250px;
    height: 250px;
    margin: 10px;
}
.banner .container h1 {
    font-size: 70px;
    margin: -20px;
}
.banner .container p {
    font-size: 25px;
    display: block;
    margin: 20px;
}
.btn {
    padding: 8px 24px;
    font-size: 30px;
    text-decoration: none;
    background-color: #f00;
    color: white;
    border-radius: 10px;
    transition: 0.3s all;
    margin-top: 10px;
}
.btn:hover {
    background-color: #600;
    font-weight: bold;
}

/* Sub sections area */
#sub-sect-1 {
    padding: 60px 0 0 0;
}
#sub-sect-2 {
    padding: 30px 0 0 0;
}
.item a {
    color: #000;
    text-decoration: none;
}
.label {
    font-size: 36px;
    text-align: center;
    font-weight: bold;
    margin: 0 30px;
    text-transform: uppercase;
    border-bottom: 5px solid black;
}
.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px 30px;
}
.item {
    box-sizing: border-box;
    margin: 5px auto;
    text-align: center;
    width: 100%;
    float: left;
}
.item h3 {
    height: 75px;
    font-size: 25px;
    padding: 5px 10px;
}
.item .price {
    font-size: 20px;
    color: #f00;
}
.rank {
    color: #fc0;
}
.item img {
    width: 60%;
    margin: 10px 10px 0 10px;
}
.item image:after {
    clear: both;
}
.item:hover {
    background-color: #eee;
    font-weight: bold;
    transition: 0.5s;
}

/* Make the page responsive */
@media screen and (max-width: 470px) {
    .item {
      width: 100%;
    }
    .item img {
        margin: 20px 0;
    }
}
@media screen and (min-width: 470px) and (max-width: 690px) {
    .item {
        width: 50%;
    }
}
@media screen and (min-width: 690px) and (max-width: 860px) {
    .item {
        width: calc(100% / 3);
    }
}
@media screen and (min-width: 860px) and (max-width: 1100px) {
    .item {
        width: 25%;
    }
    .banner {
        height: 630px;
    }
}
@media screen and (min-width: 1100px) {
    .item {
        width: 20%;
    }
}
@media screen and (max-width: 850px) {
    .banner .container h1 {
        font-size: 60px;
    }
    .banner .container p {
        font-size: 22px;
    }
}
@media screen and (max-width: 700px) {
    .banner .container img {
        height: 200px;
        width: 200px;
    }
    .banner .container p {
        font-size: 20px;
    }
}