.not-yet {
    border: solid;
    width:200px;
    margin-left: 430px;
    padding: 20px 80px 20px 100px;
  }
  
  input {
    display: block;
  }
  
  h1 {
    text-align: center;
    font-size: 50px;
  }