#process-denied {
    display: none;                           /*Hidden by default*/
    position: fixed;                         /* Stay in place */
    z-index: 100;                             /* Sit on top but always under the nav bar*/
    left: 0;
    top: 0;
    width: 100%;                              /* Full width */
    height: 100%;                             /* Full height */
    overflow: auto;                           /* Enable scroll if needed */
    background-color: #000;                 /* Fallback color */
    background-color: rgba(0,0,0,0.5);      /* Black w/ opacity */
}

#process-denied .flashing-message{
    background-color: #fff;
    margin: 22.5vh auto;
    padding: 40px;
    border-radius: 10px;
    width: 30%;
    text-align: center;
    font-size: 15px;
}
#process-denied h1 {
    margin: 30px auto 0;
}
#process-denied .icon {
    text-align: center;
}
#process-denied .icon img {
    width: 30%;
}
#process-denied a {
    color: #f00;
    text-decoration: none;
}
#process-denied a:hover {
    color: #600;
    transition: 0.5s;
}
/* Make the flashbox responsive */
@media screen and (max-width: 1325px) {
    #process-denied .flashing-message {
        width: 40%;
    }
}
@media screen and (max-width: 995px) {
    #process-denied .flashing-message {
        width: 50%;
    }
}
@media screen and (max-width: 800px) {
    #process-denied .flashing-message {
        width: 60%;
    }
}
@media screen and (max-width: 665px) {
    #process-denied .flashing-message {
        width: 70%;
    }
}
@media screen and (max-width: 665px) {
    #process-denied .flashing-message {
        width: 70%;
    }
    #process-denied .flashing-message .icon img {
        width: 40%;
    }
}
