body {
    font-size: 20px;
    margin: 0;
    padding: 0;
    word-wrap: break-word !important;
    font-family: sans-serif;
}

html {
    scroll-behavior: smooth;
}

/* main content style */
main {
    margin: 50px 100px;
    height: 500px;
    padding-top: 70px;
}

.statement {
    text-align: center;
}

.statement p {
    font-size: 25px;
    font-weight: bold;
}

/* responsive page style */
@media screen and (max-width: 500px) {
    main {
        margin: 25px 50px;
    }
}