header, footer {
    margin: 0%;
    padding: 0%;
    word-wrap: break-word !important;
    font-family: 'Bad Script', sans-serif;
    font-size: 22px;
    font-weight: bold;
}

header nav {
    position: sticky;
    top: 0;
    line-height: 70px;
    background-color: rosybrown;
}

nav::after {
    content: " ";
    display: table;
    clear: both;
}

nav a {
    color: mistyrose;
}

.toggle, [id^=dropdown] {
    display: none;
}

nav #logo a {
    display: block;
    text-decoration: none;
    padding: 0 30px;
    float: left;
    font-size: 35px;
    line-height: 70px;
    font-family: 'Dancing Script';
    font-weight: bold;
}

nav #logo img {
    width: 40px;
    height: 40px;
    padding-right: 5px;
    display: inline-block;
}

#main-toggle {
    cursor: pointer;
    float: right;
    padding: 35px 25px;
    position: relative;
    user-select: none;
}

.nav-icon {
    width: 20px;
    height: 2px;
    position: relative;
    display: block;
    background-color: #fff;
}

.nav-icon::before {
	background-color: #fff;
    height: 100%;
    width: 100%;
    content: "";
    position: absolute;
    top: 5px;
}

.nav-icon::after {
	background-color: #fff;
    height: 100%;
    width: 100%;
    content: "";
    position: absolute;
    top: -5px;
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: right;
}

nav ul li {
    list-style-type: none;
    margin: 0;
    float: left;
    background-color: brown;
}

header nav a {
	display: block;
    padding: 0px 15px;
    text-decoration: none;
    line-height: 70px;
}

nav ul li:hover {
	background-color: mistyrose;
    transition: 0.5s;
}

nav ul li ul li:hover {              /* Sub menu in hover states */
    background-color: mistyrose;
    transition: 0.5s;
}
nav ul ul {                          /* To make the sub menu dropdown, we have to make it disappear first */
    display: none;
    position: absolute;
    top: 70px;                              
}
nav ul ul li {                       /* Remaster the submenu */
    width: 210px;
    float: none;
    display: list-item;
    position: relative;
}
nav ul li:hover > ul {                      /* When the mouse cursor touchs the navigation items which have sub menus, those sub menus appear*/
    display: inherit;
}

@media all and (max-width: 768px) {
    nav {
        margin: 0;
    }
    nav ul {
        float: none;
    }
    nav ul ul {                       /* Arrange the sub menu items into a vertical line */
        float: none;
        position: static;                    
        width: 100%;
    }
    .toggle + a, .menu {                     /* Turn off the menu */
        display: none;
    }
    .toggle {                                /* Make the responsive navigation icon appaer */
        display: block;
        background: brown;
        padding: 0 20px;
        font-size: 20px;
        color: #fff;
        line-height: 70px;
        text-decoration: none;
        border: none;
    }
    .toggle:hover {
        background: mistyrose;
        transition: 0.5s;
    }
    [id^=dropdown]:checked + ul {           /* When user tap on the navigation icon, the main menu appears */            
        display: block;                     /* Note: the tags selected must be at the same hierachy */
    }
    nav ul li, nav ul ul li{                       /* Arrange the main menu items into a vertical line */
        display: block;
        width: 100%;
    }
    nav ul ul .toggle, nav ul ul a {
        padding: 0 40px;
    }
    nav ul ul li:hover > ul, nav ul li:hover > ul {
        display: none;
    }
}