@font-face {
    font-family: 'Dancing Script';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/dancingscript/v16/If2cXTr6YS-zF4S-kcSWSVi_sxjsohD9F50Ruu7BMSo3Sup6hNX6plRP.woff) format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Bad Script';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/badscript/v9/6NUT8F6PJgbFWQn47_x7pOskzP9Ddt0.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
    font-size: 20px;
    margin: 0;
}

.store-header {
    width: 70%;
    height: 310px;
    background-color: rgb(240, 203, 229);
    border: 1px solid black;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 80px;
}

ul {
    list-style-type: none;
    text-align: center;
}

li {
    display: inline;
    margin: auto;
    padding: 50px;
    font-family: 'Bad Script';
    font-size: 28px;
}

.banner {
    margin: 30px;
    padding: 20px;
    padding-top: 20px;
    text-align: center;
    margin-bottom: 0%;
    background-color: mistyrose;
    font-family: 'Gill Sans', sans-serif;
}

h1 {
    font-family: 'Dancing Script';
    font-weight: 400;
    font-size: 150px;
    text-align: center;
    margin: 35px;
    padding: 20px;
}

img {
    width: 205px;
    height: 250px;
    vertical-align: middle;
    align-items: center;
    object-fit: contain;
  }

.product-list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 30px;
}

.image-container {
    margin: 100px;
}

.item-info {
    text-align: center;
}

button {
    border: none;
    background-color: crimson;
    color: white;
    padding: 20px;
    font-size: 20px;
    transition: 0.4s;
}

button:hover {
    background-color: white;
    color:crimson;
    border: 2px solid crimson;
}

#bot-nav {
    margin: 50px;
}

.browse-select-box {
    font-size: 26px;
    text-align: center;
    display: block;
}