@font-face {
    font-family: 'Dancing Script';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/dancingscript/v16/If2cXTr6YS-zF4S-kcSWSVi_sxjsohD9F50Ruu7BMSo3Sup6hNX6plRP.woff) format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Bad Script';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/badscript/v9/6NUT8F6PJgbFWQn47_x7pOskzP9Ddt0.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
    font-size: 20px;
    margin: 0;
}

ul {
    list-style-type: none;
    text-align: center;
}

li {
    display: inline;
    margin: 20px;
    padding: 50px;
    font-family: 'Bad Script';
    font-size: 28px;
}

.banner {
    margin: 20px;
    padding: 5px;
    padding-top: 50px;
    text-align: center;
}

h1 {
    font-family: 'Dancing Script';
    font-weight: 400;
    font-size: 180px;
    text-align: center;
    margin: 10px;
    padding: 20px;
}


h3 {
    text-align: center;
}

img {
    width: 205px;
    height: 250px;
    vertical-align: middle;
    align-items: center;
    object-fit: contain;
  }

.product-list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.image-container {
    margin: 100px;
}