/* style for small details in sub pages */

body {
    word-wrap: break-word;
}

html {
    scroll-behavior: smooth;
}

/* style for two browse products pages */

.browse-select-box {
    font-size: 26px;
    text-align: center;
    display: block;
}

/* style for about us page */

#about {
    margin: 80px;
    white-space: normal;
    text-align: center;
    font-family: 'Bad Script';
    font-size: 24px;
    font-weight: 300;
}
