/* STYLE OF THE WHOLE PAGE */
body {
    font-size: 20px;
    margin: 0;
    padding: 0;
    word-wrap: break-word !important;
    font-family: sans-serif;
}
html {
    scroll-behavior: smooth;
}

/* STYLE OF MAIN SECTION */
main {
    margin: 50px 100px;
}

/* Text section */
.text h1 {
    text-align: center;
}

.text h2 {
    border-bottom: 5px solid #f00;
}

.text h2, #note {
    padding-top: 30px;
}

.text p {
    text-align: justify;
}

.text a {
    text-decoration: none;
    color: #f00;
    font-weight: bold;
}

/* MAKE THE PAGE RESPONSIVE */
@media screen and (max-width: 950px) {
    main {
        margin: 25px 50px;
    }
}
@media screen and (max-width: 455px) {
    .image img {
        width: 200px;
        height: 200px;
    }
}

/* Edit the heading on Copyright */
@media screen and (max-width: 324px) {
    .text-3 h1 {
        font-size: 34px;
    }
}