html {
    background-color: #E3E2DF;
}
.topnav {
    background-color: #5D001E;
  }
  .topnav a.active {
    color: white;
    font-size: 50px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    padding-left: 80px;
    padding-right: 100px;
    text-decoration: none;
  }
  
  .topnav a {
    color: white;
    font-size: 15px;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    padding-left: 120px;
  }
  
  .topnav:hover a:hover {
    color: #E3AFBC;
  }
  
  .topnav:hover a:hover.active {
    color: white;
  }
  /* The dropdown container */
  .dropdown {
    float: right;
    padding-right: 70px;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 15px;
    border: none;
    color: white;
    padding: 37px;
    background-color: inherit;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn:hover {
    color: #E3AFBC;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: inherit;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    background-color: #5D001E;
    color: white;
    padding: 12px;
    text-decoration: none;
    text-align: left;
    font-size: 15px;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #5D001E;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .botnav {
    background-color: #5D001E;
    bottom: 0;
    position: fixed;
    width: 100%;
  } 
  .botnav a {
    text-align: center;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 125px;
  }
  
  .botnav:hover a:hover {
    color: #E3AFBC;
  }
  
  .home {
    display: table;
  }
  .home .book {
    float: left;
    padding: 10px 95px;
  }
  
  .home a {
    text-decoration: none;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    color: #9A1750
  }
  
  .home h2{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #9A1750;
    text-decoration: underline;
    text-align: center;
  }
  
  .home:hover .book:hover {
    background-color: #E3AFBC;
  }
  
  .home1 .book1 {
    float: left;
    padding: 10px 95px;
  }
  
  .home1 {
    display: table;
  }
  
  .book1 a {
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    color: #9A1750;
  }

  .home1 h2 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #9A1750;
    text-decoration: underline;
    text-align: center;
  }
  
  .home1:hover .book1:hover {
    background-color: #E3AFBC;
  }

  .about-us h3 {
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      text-align: center;
      font-size: 30px;
      font-weight: bold;
  }

  .about-us table {
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      padding: 20px;
      font-size: 15px;
      width: 85%;
      font-weight: bold;
  }

  .about-us td {
      text-align: left;
      padding-top: 15px;
      padding-left: 70px;
  }

.form h4 {
    text-align: center;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
}

.form {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
}

.form .reset {
    background-color: #5D001E;
    color: white;
    padding: 6px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.form .submit {
    background-color: #5D001E;
    color: white;
    padding: 6px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.copyright {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}

.tos {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.tos h2 {
    text-align: center;
}

.pripo {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.pripo h2 {
    text-align: center;
}

.jdsalinger img {
  float: left;
  padding-left: 80px;
  padding-top: 30px;
  padding-bottom: 55px;
}

.jdsalinger .right-hand-info .info-top {
  float: right;
  padding-right: 300px;
  padding-top: 120px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.jdsalinger .right-hand-info .info-bottom {
  vertical-align: baseline;
  padding-left: 500px;
  position: sticky;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.jdsalinger button {
  background-color: #5D001E;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
  padding: 13px;
}

.jdsalinger button a {
  text-decoration: none;
  color: white;
}