body,html{
    margin: 0;
    padding: 0;
}

header{
    width: 100%;
    height:75px;
    background-color: black;
}

nav > ul{
    width: auto;
    margin-top: 0%;
    position: absolute;
    right: 15%;
}

.nav-item{
    display: inline-block; 
    padding-top: 27.5px;
}

.nav-item a {
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1vw;
    padding: 30px;
}

nav > ul > li > a:hover{
    background-color: grey;
}

nav > ul > li:hover > ul {
    display: block;
    left: 53.7%;
}

.dropdown {
    position: absolute;
    padding: 0;
    display: none;
    top: 100%;
    background-color: black;
    margin-top: 5.8%;
    list-style-type: none;
}

.dropdown > li {
    padding: 30px 0;
}

.dropdown > li:hover {
    background-color: gray;
}

li a:hover {
    text-decoration: none;
}

#logo-img {
    position: absolute;
    left: 3%;
    width: 120px;
    height: 76px;
    object-fit: cover;
}

.nav-image {
    position: absolute;
    padding: 16px 30px 15px 30px;
    right: 0%;
}

a:read-only {
    text-decoration: none;
}

a:hover {
    text-decoration-line: underline;
}

h2 {
    text-align: center;
    padding-top: 30px;
}

h1 {
    text-align: center;
}

h4 {
    text-align: center;
    font-size: 40px;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Bebas Neue', cursive;
}

.new-product-image {
    height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

table {
    width: 100%;
    max-width: 100%;
}

.home-table td {
    width: 33%;
}

footer {
    background-color: black;
    text-align: right;
    padding: 15px 0px 15px 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

footer span {
    padding: 20px 20px 0px 0px;
}

footer a {
    color: white;
}

form {
    text-align: center;
}

.product-pic {
    width: 600px;
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
    float: left;
}

.product-pic img {
    width: 600px;
}

.product-info {
    text-align: left;
    display: inline;
}

.product-info p {
    margin-right: 100px;
}

.add-to-bag {
    background-color: black;
    color: white;
    padding: 20px 50px 20px 50px;
}

.buy-now{
    background-color: white;
    color: black;
    border: black;
    border-style: solid;
    padding: 18px 50px 18px 50px;
}

.add-to-bag a:hover {
    color: white;
}

.recommend-pro {
    display: block;
    margin-top: 300px;
}

td:hover {
    color: black;
}

.new-product-image2 {
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

footer {
    bottom: 0%;
}

.privacy-policy p {
    font-size: 20px;
    padding: 0 50px 0 50px;
}

.cart {
    position: absolute;
    right: 4%;
    padding: 17px 25px 17px 25px;
}

.order-pro {
    width: 30%;
}

.order-table {
    width: 80%;
    margin: 0% 10% 0% 10%;
}

.order-table td:nth-child(2) {
    text-align: center;
    font-size: 30px;
}

.order-table td:first-child {
    font-size: 25px;
}

.order-table td:last-child {
    text-align: center;
}

table a h1,h2,h3,h4,h5,p {
    color: black;
}

table a:hover {
    text-decoration-color: black;
}

.no-hover a:hover{
    color: white;
}

.drop-down-item a:hover {
    text-decoration-color: black;
    color: black;
}

.dropdown-menu {
    color: black;
    text-align: center;
}

.dropdown-item a{
    font-size: 30px;
    color: black;
    font-family: 'Bebas Neue', cursive;
}

.dropdown-item {
    padding: 1px 0;
    border: black;
    border-style: solid;
    margin-left: 10px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    left: 4.5%;
    z-index: 1;
    top: 20%;
}
  
.dropdown-item:hover .dropdown-content {
    display: block;
}
