header {
    position: sticky;
    top: 0;
    z-index: 1;
}

.nav-links {
    position: absolute;
    right: 10%;
}

#logo {
    padding-left: 3%;
}

#logo img {
    width: 100px;
    height: 50px;
    object-fit: cover;
}

.link li, .dropdown {
    color: white;
    padding: 17px 25px 17px 25px;
}

.dropdown a {
    color: white;
}

.link:hover, .dropdown a:hover {
    background-color: grey;
}

nav li:hover {
    background-color: gray;
}

.link:hover li {
    color: black;
}

.nav-bg {
    background-color: black;
}

#dropdown-text a {
    color: black;
}

li a:hover {
    color: black;
}

h2 {
    text-align: center;
    padding-top: 30px;
}

.new-product-image {
    height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center;
}

table {
    width: 100%;
    max-width: 100%;
}

table td {
    width: 33%;
}

footer {
    background-color: black;
    text-align: right;
    padding: 15px 0px 15px 0px;
}

footer span {
    padding: 20px 20px 0px 0px;
}

footer a {
    color: white;
}

form {
    text-align: center;
}

.product-pic {
    width: 600px;
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
    float: left;
}

.product-pic img {
    width: 600px;
}

.product-info {
    text-align: left;
    display: inline;
}

.product-info p {
    margin-right: 100px;
}

.add-to-bag {
    background-color: black;
    color: white;
    padding: 20px 50px 20px 50px;
}

.buy-now{
    background-color: white;
    color: black;
    border: black;
    border-style: solid;
    padding: 18px 50px 18px 50px;
}

.add-to-bag a:hover {
    color: white;
}

.recommend-pro {
    display: block;
    margin-top: 300px;
}

td:hover {
    color: black;
}

.new-product-image2 {
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h4 {
    text-align: center;
}

footer {
    bottom: 0%;
}

.privacy-policy p {
    font-size: 20px;
    padding: 0 50px 0 50px;
}

.cart {
    position: absolute;
    right: 4%;
    padding: 17px 25px 17px 25px;
}

.order-pro {
    width: 30%;
}

.order-table {
    width: 80%;
    margin: 0% 10% 0% 10%;
}

table td:nth-child(2) {
    text-align: center;
    font-size: 30px;
}

table td:first-child {
    font-size: 25px;
}

table td:last-child {
    text-align: center;
}

table a h1,h2,h3,h4,h5,p {
    color: black;
}

table a:hover {
    text-decoration-color: black;
}

.no-hover a:hover{
    color: white;
}

.drop-down-item a:hover {
    text-decoration-color: black;
    color: black;
}

.dropdown-menu {
    color: black;
}

nav a:last-child:hover {
    background-color: gray;
}
