body,html{
    margin: 0;
    padding: 0;
}

Header{
    width: 100%;
    height:75px;
    background-color: black;
}

nav ul{
    width: auto;
    margin-top: 0%;
    position: absolute;
    right: 15%;
}

nav ul li{
    display: inline-block;
    padding: 29px 30px 28px 30px;
}

nav ul li a{
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1vw;
}

nav ul li:hover{
    background-color: grey;
    transition: 0.5;
}

nav ul li:hover > ul {
    display: block;
    left: 53.7%;
}

.dropdown {
    position: absolute;
    padding: 0;
    display: none;
    top: 100%;
    background-color: black;
}

.dropdown-item {
    width: 96px;
}

nav ul li:hover > ul .dropdown-item:hover {
    background-color: gray;
}

#logo-img {
    position: absolute;
    left: 3%;
    width: 120px;
    height: 76px;
    object-fit: cover;
}

.nav-image {
    position: absolute;
    padding: 16px 30px 15px 30px;
    right: 0%;
}


