main {
    margin: 20px 100px 80px;
}

#title, #subtitle {
    text-align: center;
    font-style: italic;
}

#title {
    font-size: 50px;
    margin-bottom: -10px;
}

#subtitle #username {
    color: #099;
}

.section-name, .description {
    text-align: center;
}
.section-name {
    font-size: 30px;
    margin-bottom: -10px;
}
.description {
    margin-bottom: 50px;
    font-size: 17px;
}

.page-content-form hr {
    margin: 60px 0 35px;
}

/* PAGE CONTENT EDITOR */
.long-text {
    margin: 30px 0;
}

textarea {
    min-width: 99%;
    max-width: 99%;
    min-height: 300px;
    border-radius: 10px;
    font-size: 17px;
    font-family: 'Nunito', sans-serif;
}
textarea:focus {
    background-color: #eee;
    transition: 0.5s;
}

.long-text label {
    display: block;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: -10px;
}

/* AVATAR SECTION */
.flexbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px 30px -20px;
}
.item {
    box-sizing: border-box;
    margin: 5px auto;
    text-align: center;
    width: 100%;
    float: left;
    overflow: hidden;
}
.item img {
    width: 70%;
    border-radius: 50%;
}
.item .member-name {
    font-size: 20px;
    font-weight: bold;
}
.item .member-id {
    font-style: italic;
    font-size: 17px;
}
.item input {
    font-family: 'Nunito', sans-serif;
    margin: 20px 0 0;
    border: none;
    cursor: pointer;
}

/* BUTTONS */
.actions {
    text-align: center;
    margin-top: 50px;
}
.actions input {
    width: 30%;
    margin: 0 5%;
    border: none;
    height: 40px;
    border-radius: 40px;
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
    cursor: pointer;
    background-color: #f93;
}
.actions input:hover {
    background-color: #c60;
    color: #fff;
    font-weight: bold;
    transition: 0.5s;
}

/* Make the page responsive */
@media screen and (max-width: 600px) {
    .item {
        width: 100%;
    }
    .item img {
        width: 50%;
    }
}
@media screen and (max-width: 500px) {
    .item img {
        width: 60%;
    }
}
@media screen and (min-width: 600px) and (max-width: 1130px) {
    .item {
      width: 50%;
    }
}
@media screen and (min-width: 1130px) {
    .item {
      width: 25%;
    }
}
@media screen and (max-width: 800px) {
    main {
        margin: 20px 50px 80px;
    }
}
@media screen and (max-width: 420px) {
    main {
        margin: 20px 20px 80px;
    }
    .item img {
        width: 70%;
    }
}
@media screen and (max-width: 360px) {
    #title {
        font-size: 40px;
    }
}
@media screen and (max-width: 500px) {
    .actions input {
        width: 75%;
    }
}
@media screen and (max-width: 768px) {
    .actions input {
        width: 50%;
    }
}
@media screen and (max-width: 1024px) {
    .actions input {
        width: 40%;
    }
}