/* To define new fonts which is not available in IDE */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400&display=swap');

/* STYLE OF THE WHOLE PAGE */
body {
    margin: 0;
    padding: 0;
    word-wrap: break-word !important;
    font-family: 'Nunito', sans-serif;      /* When this font is already defined, it is able to be use to trigger the style of any selectors */
    min-height: 100vh;
}
html {
    scroll-behavior: smooth;
}
header, footer {
    text-align: center;
    color: #099;
}
header span, footer span {
    font-style: italic;
    color: #f93;
}

/* Header-section */
header {
    font-size: 20px;
    top: 0;
    margin-top: -25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
header h2 {
    padding: 10px;
}

/* Footer section */
footer {
    position: sticky;
    padding: 2.5px;
    top: 100%;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.5);
}
footer h3 {
    font-size: 21px;
}