.form {
    margin: 100px 30%;
}
.form h1 {
    text-align: center;
}
.keyboard, .submit {
    margin: 25px 0;
}

form label {
    font-size: 21.5px;
    font-weight: bold;
}

form input {
    width: 100%;
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
}

.keyboard input {
    border: none;
    border-bottom: 1px solid;
    margin-top: 2px;
}
.keyboard input:focus {
    border-bottom: 2px solid;
    transition: 0.5s;
}

.submit {
    margin: 40px 0;
}

.submit input {
    margin: 0 15%;
    font-size: 24px;
    width: 70%;
    border-radius: 50px;
    border: none;
    height: 45px;
    background-color: #f93;
    color: #fff;
    cursor: pointer;
}

.submit input:hover {
    background-color: #c60;
    font-weight: bold;
    transition: 0.5s;
}

.error {
    color: #f00;
}

/* Make the page responsive */
@media screen and (max-width: 720px) {
    .form {
        margin: 70px 20%;
    }
}
@media screen and (max-width: 550px) {
    .form {
        margin: 70px 10%;
    }
}
